.formContainer {
  display: flex;
  justify-content: center;
  width: 70%;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem
}


.btn {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: fit-content;
  align-self: center;
  font-size: 1rem;
  color: white;
}

.errorText {
  color: var(--color-danger);
}