html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --color-standard: #007bff;
  --color-danger:#dc3545;
  --color-success:#28a745 ;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
}

h1 {
  text-align: center;
}

.success {
  background-color: var(--color-success);
}

.danger {
  background-color: var(--color-danger);
}

.standard {
  background-color: var(--color-standard);
}

input, select {
  padding: 0.25rem;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  margin: auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
  
.inputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.end {
  align-self: end;
  margin-right: 1rem;
}

.header {
  margin: 1rem;
}